; PostgreSQL connection string
pg_connect = "dbname=MY_DATABASE_NAME"

[filter]
; LIKE filter. Use "%" for all, "OH%" to get only Finnish ones
like = "%"
; Do not notify about the same park again in given time
age = "8 hours"

[matrix]
; Home server with protocol (and port, if not default)
homeserver = "https://matrix.example.com"
; Access token
token = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
; Matrix room ID (starts with !)
room = "!RtlwJVOHzddeloiByq:liittovaltio.fi"
