[Unit]
Description=Update WWFF cluster data
After=network-online.target
After=postgresql.service

[Service]
Type=oneshot
User=USER
Group=GROUP
ExecStart=/PATH/TO/wwff-populate
#ExecStart=/PATH/TO/notifier

# Usually takes only seconds.
TimeoutSec=2m
